div,
html,
body,
#root {
  margin: 0;
  padding: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3703c7, #04a3d0);
  background-size: 800% 800%;
  animation: gradientShift 5s ease-in-out infinite;
  color: rgb(253, 253, 253);
}
text {
  color: white;
  fill: white;
}

html {
  scroll-behavior: smooth;
}
/* Estilo para scroll suave */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

hr {
  background-color: rgb(0, 255, 242);
  height: 0.1px;
  border: none;
  margin: 1rem 0;
}


@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
